body {
    background-image: url('../../img/LandingPage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  
  .detail-container {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .detail-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .platforms, .genres {
    text-align: left;
    margin-top: 20px;
  }
  
  .platforms p, .genres p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .platforms ul, .genres ul {
    list-style-type: none;
    padding: 0;
  }
  
  .platforms li, .genres li {
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  