.bigContainer {
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url('../img/LandingPage.webp'); /* Ruta relativa a la ubicación del archivo CSS */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .aboutCard {
    margin: 150px 15px;
    padding: 15px;
    background: rgba(200, 200, 200, 0.5);
    max-width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: rgb(0, 0, 0);
  }
  
  .titulo {
    font-size: 27px;
    font-weight: bold;
  }
  