.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/LandingPage.webp');
  background-size: cover;
}

.formu {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  height: 88vh;
  margin-top: -20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 5px;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.crear {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  border-color: #007bff;
}

.success-message {
  color: #000;
margin: 5px;
}